<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1><p>5d8641e204c55b2e88ca39fb 5d86420104c55b2e88ca39fc  5d86421904c55b2e88ca39fd</p>
    <p>Welcome to <%= title %></p>
  </body>
</html>
