.button2{border-radius: 30px;width: 30%;padding: 10px ;  }
.button2:hover{border: 2px solid #4285F4;color: #4285F4 }
.d{margin-bottom: 50%}
.completed{text-decoration-line: line-through  ;text-decoration-color: #0e57cc;font-size: larger}
.m{margin-left: 95%;}
